# Cruft #
.DS_Store

# optimized loading #
.optimized-loading-cache/
combined.js*

# Scripts #
workspace/
localconfig.js

# Worlds #
*.html
!blank.html
!welcome.html
!run_tests.html
!onedrive.html
!dropbox.html

# Node #
node_modules
*.pid

# Parts #
PartsBin

# Users #
users

# Wiki #
objects.sqlite

# Debugging -- for development, will go away soon #
DBG_*.js

*.js~

# module debugging
*.html.dot
*.html.svg

# backup
.exclude-from-backup

# ignore lively-web specific subservers
core/servers/

# HTTP / server #
htpasswd
.htpasswd

# cloxp
/cloxp/
*-clojars-feed.json
core/media/cloxp-logo.*
install.log
